* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: "DM Sans", sans-serif;
    
    --bg-page: #F3F5FA;
    --bg-card-white: #FFFFFF;
    --bg-card-purple: #4D21C1;
    --text-dark: #1F1F1F;
    --text-light: #FFFFFF;
}

body {
    font-family: var(--font-family);
    background-color: var(--bg-page);
    color: var(--text-dark);

    min-height: 100vh;
    display: grid;
    place-items: center
    ;
}